<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataBaseOperate.Properties.Settings.RadarStatusPowerDataConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=RadarStatusPowerData;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DataBaseOperate.Properties.Settings.RadarStatusPowerDataConnectionString1"
      connectionString="Data Source=10.138.167.21;Initial Catalog=RadarStatusPowerData;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DataBaseOperate.Properties.Settings.RadarStatusPowerDataConnectionString2"
      connectionString="Data Source=127.0.0.1;Initial Catalog=RadarStatusPowerData;User ID=sa;Password=rootsaroot"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>